<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luxiaochun.frontlocationservice">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service android:name="com.luxiaochun.frontlocationservice.service.FrontService" />
    </application>
</manifest>